<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Application</li>
              <li class="active"><a href="/"><i class="icon-home"></i> Home</a></li>
              <li><a href="/gettingstarted"><i class="icon-book"></i> Getting Started</a></li>
              <li><a href="/account"><i class="icon-wrench"></i> Settings</a></li>
              <li><a href="/about"><i class="icon-question-sign"></i> About</a></li>
              <li><a href="/contacts"><i class="icon-envelope"></i> Contact</a></li>
              <% if(user) { %>
              <li class="nav-header">Phone Calls</li>
              <li><a href="/phone/bydate"><i class="icon-arrow-down"></i> Sort by Date</a></li>
              <li><a href="/phone/bycaller"><i class="icon-filter"></i> Filter by caller</a></li>
              <li><a href="/phone/byreceiver"><i class="icon-filter"></i> Filter by receiver</a></li>
              <li><a href="/phone/byareacode"><i class="icon-filter"></i> Filter by area code</a></li>
              <li><a href="/phone/bydirection"><i class="icon-filter"></i> Filter by direction</a></li>
              <li ><a href="/phone/bystatus"><i class="icon-filter"></i> Filter by status</a></li>
              <li class="nav-header">SMS Messages</li>
              <li><a href="/sms/bydate"><i class="icon-arrow-down"></i> Sort by Date</a></li>
              <li><a href="/sms/bycaller"><i class="icon-filter"></i> Filter by caller</a></li>
              <li><a href="/sms/byreceiver"><i class="icon-filter"></i> Filter by receiver</a></li>
              <li><a href="/sms/compose"><i class="icon-edit"></i> Compose</a></li>
              <% } %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1 class=" hidden-phone hidden-tablet">Subtle Analyzer</h1>
            <p>Get more intelligence from your phone system.</p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Virtual Phone Line</h2>
              <p>We can provide a virtual phone line that intelligently redirects to your cell phones.  This protects your personal phone number and gives you control over who is calling.</p>
              <p><a class="btn" href="/gettingstarted">Sign up &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Business Intellegence</h2>
              <p>Do you want to find out where your calls are coming from?  Want to track how effective your latest advertising campaign was?We have the tools to let you get deep inside your data and find those answers.</p>
              <p><a class="btn" href="#">Sign up &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Plans & Pricing</h2>
              <p>During our public beta there is only one price tier and it is free.  We will be announcing all of our plans and pricing in the future.</p>
              <p><a class="btn" href="#">Sign up &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Subtle Controls 2012</p>
      </footer>

    </div><!--/.fluid-container-->
